
<h1>CELULARES</h1>
<form action="/celular/agregar" method="POST">

   <div>

        <label for="clave">Clave:</label>
        <input type="text" name="clave" placeholder="CLAVE" id="clave"/>
    </div>

    <div>

        <label for="marca">Marca:</label>
        <input type="text" name="marca" placeholder="Marca" id="marca"/>
    </div>
<br>
    <div>

        <label for="precio">Precio:</label>
        <input type="text" name="precio" placeholder="Precio" id="precio"/>
    </div>
<br>
    <div>
        <label for="fechaLanzamiento">Fecha de Lanzamiento:</label>
        <input type="text" name="fechaLlanzamiento" placeholder="Fecha de Lanzamiento" id="fechaLlanzamiento"/>
    </div>
<br>
    <div>
        <label for="ram">RAM:</label>
        <input type="text" name="ram" id="ram"/>
    </div>
<br>
    <div>
        <label for="almacenamiento">almacenamiento:</label>
        <textarea name="almacenamiento" placeholder="Almacenamiento"></textarea>
    </div>
<br>
    <div>
        <label for="celular">Numero celular:</label>
        <input type="text" name="celular" placeholder="Celular" id="celular"/>
    </div>
<br>
    <div>
        <label for="cantCamaras">Cantidad de camaras:</label>
        <input type="text" name="cantCamaras" placeholder="Cantidad de camaras" id="cantCamaras"/>
    </div>
<br>


    
    <button>Agregar</button> 
</form>
